// .title {
//   font-family: "Julius Sans One";
//   text-transform: uppercase;
//   font-weight: bold;
// }

// .subtitle {
//   font-family: "Archivo Narrow";
//   font-weight: bold;
//   text-transform: uppercase;
// }

.headline-1 {
  font-family: "Julius Sans One";
  text-transform: uppercase;
  font-weight: bold;
  // letter-spacing: 0.1rem;
  font-size: 3.875rem;
}
.headline-2 {
  font-family: "Archivo Narrow";
  font-weight: bold;
  font-size: 1.5rem;
  // letter-spacing: 0.1rem;
}

@mixin shade-background() {
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
